@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --clr0: #dddbcb;
  --clr1: #e0b32d43;
  --clr2: #f5efd9;
  --clr3: #dddbcb;
  --txtclr1: #050505;
  --btn: rgb(48, 97, 175);
  --btn: #dddbcb;
}

::-webkit-scrollbar {
  display: none;
}

.sk1 {
  grid-area: sk1;
}
.sk2 {
  grid-area: sk2;
}
.sk3 {
  grid-area: sk3;
}
.sk4 {
  grid-area: sk4;
}
.sk5 {
  grid-area: sk5;
}
.sk6 {
  grid-area: sk6;
}
.sk7 {
  grid-area: sk7;
}

.grid-container {
  grid-template-areas:
    "sk1 sk1 sk2 sk3"
    "sk4 sk5 sk2 sk3"
    "sk6 sk6 sk2 sk7";
}
.c {
  grid-area: sss;
}
